body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #1C1C1C;
}
.header {
  background-color: #FFF4E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  flex-wrap: wrap;
  gap: 10px;
}
.logo {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  font-weight: bold;
  color: #1C1C1C;
  flex: 1;
 
}
.nav {
  display: flex;
  justify-content: left;
  gap: 30px;
  flex-wrap: wrap; 
}
.nav a {
  text-decoration: none;
  color: #1C1C1C;
  font-weight: 500;
  transition: color 0.3s;
}
.nav a:hover {
  color: #FF7A00;
}
.order {
  background-color: #FF7A00;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.order:hover {
  background-color: #e96b00;
}
.wow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF4E6;
  padding: 60px 20px;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
}
.wow-text {
  max-width: 450px;
}
.wow-text h1 {
  font-size: 40px;
  color: #1C1C1C;
  margin-bottom: 25px;
  line-height: 1.3;
}
.menu-but {
  background-color: #FF7A00;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.menu-but:hover {
  background-color: #e96b00;
}
.wow img {
  width: 100%;
  max-width: 480px;
  border-radius: 15px;
}
.menu {
  text-align: center;
  padding: 60px 80px;
  background-color: #fff;
}
.menu h1 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #1C1C1C;
}
.menu-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card h2 {
  margin: 10px 5px;
}
.card p {
  font-size: 14px;
  color: #555;
}
.card button {
  background-color: #FF7A00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}
.card button:hover {
  background-color: #e96b00;
}
.our {
  background-color: #FFF4E6;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 80px 100px;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
.our-text {
  max-width: 600px;
}
.our-text h1 {
  font-size: 30px;
  margin-bottom: 26px;
  color: #1C1C1C;
}
.our-text p {
  font-size: 16px;
  color: #333;
  max-width: 450px;
}
.our-img img {
  width: 90%;
  width: 300px;
  border-radius: 15px;
}
footer {
 background-color: #FF7A00; 
 color: white;
 text-align: center;
 padding: 40px 20px;
}
footer h1{
  margin-bottom: 10px; 
}